
.homeMainWrapper {
	height: calc(100vh - 100px);
	display: grid;
	grid-template-areas: "homeMainVideo"
						"homeMainJoin";
	grid-template-rows: 2fr 1fr;
	grid-template-columns: 1fr;
}

.homeMainVideo {
	grid-area: homeMainVideo;
}

.homeMainJoin {
	grid-area: homeMainJoin;
}